.announcement {
    height: 300px;
    background-image: url('../images/original.jpg');
    background-position: center;
    
    background-size: cover;
    /* cover, contain */

    background-attachment: fixed;
    /* fixed, scroll */

    /* background-repeat: repeat-x; */
    /* no-repeat, repeat-x, repeat-y, repeat */
}

.announcement * {
    text-align: center;
    color: #fff6f6;
    font-family: sans-serif;
}