/* CSS RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-shadow{
  width: 25%;
  border: 1px solid black;
  box-shadow: 10px 15px 10px 5px coral;
  /* box-shadow: h-offset v-offset blur spread color; */
}

.boder-box{
  margin: 50px;
  padding: 25px;
  width: 250px;
  height: 250px;
  background-color: seagreen;
  border:3px solid gray;
  box-sizing: border-box;
}

.content-box{
  margin: 50px;
  padding: 25px;
  width: 250px;
  height: 250px;
  background-color: dodgerblue;
  border:10px solid gray;
  box-sizing: content-box;
}

.center{
    margin: 50px auto;
    text-align: center;
    width: 250px;
    background-color: goldenrod;
}